ion-card {
    background-color: aqua;
    font-style: bold;
}

ion-button {
    font-size: 125%;
    color: antiquewhite;
    
}
.ion-no-padding {
    background-color: #46cbdd;
}
ion-icon {
    padding-left: 7px;
    color: #3967d3;
}

